<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Astrostellar Flights!!!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="bg-dark text-light">
    <a href="/crafts" class="btn btn-warning">Back to Tracker List Table</a>
    <a href="/logout" class="btn btn-danger">Logout</a>
    
    <h1 class="text-center text-light">What is an Astrostellar Flight?</h1>

    <p>An Astrostellar is a space traveling airplane that travels in space by using a multi-stage rocket to take off and explore a space tour.  During the dramatic return to Earth, the spaceship module detaches from the plane after reentry is completed before a glide down to an altitude with sufficient of air for jetliners to fly.  In turn, the place eventually turns into a normal air jetliner and behaves as such for the rest of the flight.  These flights are entierly fictitious and virtual.</p>
    <p>After taking off from the Pacific Space Port into the Universe, the following is discussed for at least a bit:</p>
    <ul>
        <li>Stars - Including the fact that they twinkle/shine and colors determining temperatures</li>
        <li>Galaxies - Galaxiy Clusters and Galaxies (we also go back from out in the Universe back to our Galaxy Cluster, the Local Group, and then back to our Galaxy, the Milky Way)</li>
        <li>The Sun</li>
    </ul>
    
    <img src="{{ url_for('static', filename='images/screenshot20231228010615.jpg') }}"  class = "image" width = 400 height = 250/>
    

    <p>Upon reentry to the Milky Way, we come back to the gravitational influence area of the sun:</p>
    <ul>
        <li>Solar System Tour including some Swarf Planets (order route is: Mercury, Venus, Earth, Mars, Ceres, Jupiter, Saturn, Uranus, Neptune, Haumea, Makemake, Eris, Pluto)</li>
        <li>Fly back towards Earth and take a trip to the Moon (there is a lecture about the Moon before a moon phases song and then a Moon watch for the full moon)</li>
        <li>Fly from the Moon back to Earth</li>
    </ul>



    <p>After flying back to the Earth, this is the rest of the flight:</p>
    <ul>
        <li>Dramatic Return to Earth (including Reentry and subsequent Post-reenty fall glide)</li>
        <li>Cruising (from here, the flight is like that of a normal jetliner from here going forward)</li>
        <li>Stratospherically Descending for the last time</li>
        <li>Tropospherically Descending</li>
        <li>Landing at Chicago O'Hare</li>
    </ul>


    <img src="{{ url_for('static', filename='images/AstrostellarsinLandingsatOHare.jpg') }}"  class = "image" width = 800 height = 500/>

    <img src="{{ url_for('static', filename='images/717AstrostellarseeninNiles.jpg') }}"  class = "image" width = 800 height = 500/>
    <img src="{{ url_for('static', filename='images/737AstrostellarseeninNiles.jpg') }}"  class = "image" width = 800 height = 500/>
    <img src="{{ url_for('static', filename='images/RescuerofTuffyBearandUrsulaMinorseeninNiles.jpg') }}"  class = "image" width = 800 height = 500/>
    
    

    <h1 class="text-center text-light">History of the Astrostellar Flights</h1>
    <p>Since August 2019, Astrostellars began operating using space planes based on Boeing Aircrafts 717-100X and 737 MAX7/700.  In 2023, The Rescuer of Tuffy Bear and Ursula Minor (based on what would have been the 797) debuted into operations.  Everything is made by Boeing.</p>
    
    <p>In 2019, a summit between North Korea, South Korea, and the United States took place as a trilateral summit.  The deal that was made out of that was that:</p>
    <ul>
        <li>All 3 nations must collaborate in making operations safe and enjoyable for space portions through oversights by North Korea's National Aerospace Technology Administration (NATA), South Korea's Korea Aerospace Research Institute (KARI), and the United States NASA.</li>
        <li>Space Tours and all portions of each such flight from the start (including the Dramatic Return tor Earth) are flown by 2 Korean Astronauts (one from North Korea and one from South Korea).</li>
        <li>2 American aero-aviation pilots take controls for the rest of the flight after the dramatic reutrn to Earth is completed.</li>
        <li>Aero jetliner aviation portions of the flights are overseen by the USA's Federal Avaition Administration.</li>
        <li>All flights mjust originate from the Pacific Sapce Port in Kodiak, Alaska.</li>
        <li>All flights must land at Chicago's O'Hare International Airport (Runway 22R is strongly recommended) using any domestic terminal.</li>
        <li>These flights are to be operating regardless of any situations that are political or about diplomatic relations (no suspensions are allowed to occur over any newly emerged tensions).</li>
        <li>Any permanent changes to routings require another summit involving all 3 nations.</li>
    </ul>

    <p>Captain Rosemarie Aquilina J.D. and First Officer TK are the pilots for the aviation portion of these flights.</p>

    


    
</body>
<footer>
    <a href="/crafts" class="btn btn-warning" position = "bottom">Back to Tracker List Table</a>
</footer>
</html>