<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Astrostellar Flights!!!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="bg-dark text-light">
    <a href="/crafts" class="btn btn-warning">Back to Tracker List Table</a>
    <a href="/logout" class="btn btn-danger">Logout</a>
    
    <h1 class="text-center text-danger">Service Alerts</h1>

    <p>12/31/2023: Due to a minor incident at O'Hare International Airport and multiple incidents in the surrounding airspace around it, all Astrostellar flights are suspended.  We are unable to provide any reopening date at this time.  Situations on the Korean Peninsula are not a factor to this.  Flight ROTBUM597 has arrived at Gate B7.</p>
    <p>On the morning of December 31, 2023, ROTBUM597 and the hot air balloon basket in its capture rescue light reported a possible collision or object strike during landing.  It was later confirmed by noon to be a collision with a vertical stabilizer of an A380 that was not supposed to be on the runway.  The airline carrier for the A380 is not yet confirmed.  Visibility was poor and thus was the reason why the A380 aircraft was still not seen even after the collision.  The incident was not known until after ROTBUM597 successfully arrived at Gate B7.  No major damage to the craft is found, but some damage to the crystal in its capture rescue light was.  The A380's vertical stabilizer was partially found next to the runway.  Fortunately, there are no injuries at all.</p>

</body>
</html>